.modal__image {
    width: auto;
    max-width: calc(100vw - 2*90px);
    height: auto;
    max-height: calc(100vh - 2*90px - 25px);
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 480px) {
    .modal__image {
        max-width: calc(100vw - 2*40px);
    }
}