.login__input{
    width: 100%;
    font-weight: 400;
    min-height: 27px;
    font-size: 14px;
    line-height: 14px;
    background-color: transparent;
    margin-top: 30px;
    border: 0;
    border-bottom: 2px solid #CCC;
    color: #fff;
}

.login__input:first-of-type {
    margin-top: 0;
}

.login__input:focus {
    background-color: #000 !important;
}
