@import url(./vendor/normalize.css);
@import url(./blocks/page/page.css);
@import url(./vendor/fonts/InterWeb/inter.css);
@import url(./blocks/header/header.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/modal/modal.css);
@import url(./blocks/modal/_opened/modal_opened.css);
@import url(./blocks/login/login.css);