.login__submit-button {
    max-width: 358px;
    width: 100%;
    min-height: 50px;
    background: #fff;
    border-radius: 2px;
    color: #000;
    border: none;
    padding: 0;
    margin-top: 216px;
    font-size: 16px;
    line-height: 19px;
}

.login__submit-button:hover {
    opacity: 0.85;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}